#sidebar-main {
    width: 0;
    transition: all .5s ease-in-out;
    border-right: 2px solid black;
    background-color: #1a1a1a;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#sidebar-main.sidebar-open {
    width: 15%;
}

#hamburger {
    position: fixed;
    background: none;
    left: 0;
    top: 0px;
    border: none;
    width: 80px;
    height: 80px;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 0;
    z-index: 20;
}

#hamburger:focus {
    outline: none;
}

#login-container {
    display: flex;
    flex-direction: column;
    transform: translateX(-15vw);
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}

#login-container input {
    width: 80%;
}

#login-container p {
    font-size: small;
    color: rgb(79, 79, 255);
    cursor: pointer;
    text-decoration: underline;
}

#sidebar-container.sidebar-open #login-container {
    transform: translateX(0vw);
}

#login-container button {
    margin-top: 8px;
    padding: .3em;
    width: 50%;
    border: 2px solid grey;
    transition: border-color 0.25s;
}

#login-container button:hover {
    border-color: rgb(255, 255, 255);
}

h3 {
    margin: 5px;
}

#history-container, #recent-container, #shared-container {
    width: 90%;
    text-align: left;
    border-bottom: 2px solid rgb(46, 46, 46);
    padding: 0;
    font-size: 1.2em;
}

#history-list, #recent-list, #shared-list {
    list-style-type: none;
    margin: 2px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

#history-list.history-open, #recent-list.recent-open, #shared-list.shared-open {
    max-height: 1000px;
    opacity: 1;
    overflow: auto;
}


#recent-list > li {
    display: flex;
    justify-content: space-between;
}

#recent-title, #history-item, #shared-item {
    cursor: pointer;
    width: 80%;
}

#history-list > li:not(:last-child), #recent-list > li:not(:last-child), #shared-list > li:not(:last-child) {
    border-bottom: 1px solid rgb(46, 46, 46);
}

#delete-icon img {
    cursor: pointer;
    height: 1em;
}

#arrow {
    float: right;
    transform: rotate(0deg);
    transition: all .3s ease;
}

#arrow img {
    height: 1em;
}

#arrow.arrow-open {
    transform: rotate(180deg);
}

@media (min-width: 800px) {
    #sidebar-container.sidebar-open #hamburger {
        transform: translateX(15vw);
    }
}

@media (max-width: 800px) {
    #sidebar-main {
        width: 100%;
        height: 0;
    }
    #login-container {
        transform: translateY(-20vh);
        width: 100vw;
        background-color: #1a1a1a;
    }
    #login-container input {
        width: 50%;
    }
    #sidebar-container.sidebar-open #login-container {
        transform: translateY(0vh);
    }
}